/* MAPA BASICOS */
/* Reseteo */
/* MAP GET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "open sans"; }

.body-reglamento {
  background: linear-gradient(grey, #fff); }

.titulo, main .titulo-secundario, #main-nosotros .titulo-nosotros {
  color: #642a73;
  text-align: center;
  margin-bottom: 60px; }

/* Nav */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  background-color: #a537a5; }
  nav a {
    text-decoration: none;
    text-decoration-style: none;
    color: #fff;
    font-weight: 300; }
    nav a:hover {
      transform: scale(1.2, 1.2);
      text-decoration: underline #fff;
      color: #000; }

img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  overflow: hidden; }

/* INDEX */
main {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px; }
  main p {
    margin: 30px; }
  main .titulo-secundario {
    /*Extend*/
    font-size: 2rem;
    margin-bottom: 30px; }

.section-index {
  background-image: linear-gradient(#fff, grey, #fff); }
  .section-index .card {
    background-color: #eb90df;
    height: 550px; }
  .section-index #btn {
    text-align: center; }

/* CALENDARIO */
.aside-calendario {
  grid-area: asideC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 75px; }

.section-calendario {
  grid-area: sectionC;
  align-self: center; }

.main-calendario {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-areas: "asideC sectionC";
  height: 600px; }

/* REGLAMENTO */
.main-reglamento {
  margin-top: 100px; }

/* NOSOTROS */
.aside {
  grid-area: asideN; }

.section {
  grid-area: sectionN; }

#main-nosotros {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  grid-template-areas: "asideN sectionN asideN";
  height: 700px;
  padding-top: 100px; }
  #main-nosotros .titulo-nosotros {
    /*Extend*/
    font-size: 35px;
    margin-bottom: 30px; }
  #main-nosotros .foto-nosotros {
    height: 640px;
    width: 100%; }

.texto-nosotros {
  font-size: 25px;
  text-align: center; }

/* CONTACTO */
.section-contacto {
  grid-area: section;
  margin-top: 35px; }

.aside-contacto {
  grid-area: aside;
  align-self: center;
  justify-self: center; }
  .aside-contacto .maps:hover {
    transform: scale(1.2, 1.2); }

.main-contacto {
  margin-left: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "section aside"; }
  .main-contacto .titulo-contacto {
    color: #642a73;
    font-size: 40px;
    text-align: center;
    margin: 15px;
    margin-top: 40px; }
  .main-contacto .telefono {
    font-size: 35px;
    text-align: center;
    margin: 15px;
    margin-top: 40px; }
  .main-contacto .mail {
    font-size: 35px;
    text-align: center;
    margin: 15px;
    margin-top: 60px; }
  .main-contacto .indicaciones {
    font-size: 20px;
    text-align: center;
    margin: 15px;
    margin-top: 80px; }

/* FOOTER */
footer {
  background-color: gray;
  margin-top: 100px;
  margin-bottom: -10px; }
  footer .contenedor-footer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 15px;
    justify-items: center; }
    footer .contenedor-footer .content-foo {
      height: auto;
      color: #fff;
      font-size: 20px;
      padding: 15px; }
  footer .titulo-final {
    text-align: center;
    font-size: .9rem; }

/*INTERMEDIA*/
@media (max-width: 991px) and (min-width: 769px) {
  .card {
    margin-top: 15px; }
    .card #btn {
      height: 330px; } }

/* MEDIA QUERI TABLETS */
@media (max-width: 768px) and (min-width: 481px) {
  .card {
    margin-top: 15px; }
    .card #btn {
      height: 155px; } }

/* MEDIA QUERI MOBILE */
@media screen and (max-width: 575px) {
  .card {
    margin: 15px;
    height: 450px; }
  .texto-nosotros {
    font-size: 16px; }
  /* CONTACTO*/
  .main-contacto {
    grid-template-rows: repeat(2, 0.3fr);
    grid-template-areas: "section" "aside"; }
  .section-contacto {
    margin-top: 60px; }
  .maps {
    height: 300px;
    width: 200px;
    margin-top: 25px; }
  .aside-contacto > .maps:hover {
    transform: scale(0.8, 0.8); }
  /*CALENDARIO*/
  .main-calendario {
    grid-template-areas: "asideC" "sectionC"; }
  .aside-calendario {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 120px;
    margin-left: 50px; }
  .section-calendario {
    margin-left: 60px; } }
